@{
    ViewData["Title"] = "NoOrders";
}

<div class="w-100 d-flex justify-content-center p-5 m-3">
    <img src="~/css/order-delivery1.png" class="w-200 h-200" />
    <h3 class="d-inline">You didn't make an order yet!!!'</h3>
</div>

